* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background: linear-gradient(to right, #2c2c2c, #1f1f1f);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  background: #00bcd4;
  color: white;
  padding: 8px;
  border-radius: 50%;
  font-size: 14px;
}

.logo h2 {
  font-size: 20px;
  font-weight: 600;
}


.search-box {
  display: flex;
  align-items: center;
  background: #3a3a3a;
  padding: 8px 15px;
  border-radius: 20px;
  width: 300px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 10px;
  width: 100%;
}

.search-box input::placeholder {
  color: #bbb;
}

.search-icon {
  color: #bbb;
}


.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  transition: 0.3s;
}

.menu a:hover {
  color: #00bcd4;
}